<div class="animated fadeIn">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Subcategory</th>
                <th scope="col">Question</th>
                <th scope="col">Bucket</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="animate wobble">
            <tr ng-repeat="flashCard in ctrl.flashCards track by $index" 
                ng-mouseover="hoverEdit = true" 
                ng-mouseleave="hoverEdit = false"
            >
                <td>{{flashCard.category}}</td>
                <td>{{flashCard.subCategory}}</td>
                <td>{{flashCard.question}}</td>
                <td>{{flashCard.bucket}}</td>
                <td>
                    <div ng-show="hoverEdit" ng-class="{'animated fadeIn': hoverEdit}">
                        <span>
                            <a ui-sref="site.flash-cards.detail({id:flashCard._id})" class="noUnderLine">
                                <i class="fa fa-info fa-sm infoIcon" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span>
                            <a ui-sref="site.flash-cards.edit({id:flashCard._id})" class="noUnderLine">
                                <i class="fa fa-pencil fa-sm editIcon" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span>
                            <a ng-click="ctrl.delete(flashCard._id, $index)" class="noUnderLine">
                                <i class="fa fa-times fa-sm deleteIcon" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>