<div style="margin-top: 50px;">
    <form lpformnum="1" novalidate ng-model="ctrl.formData" ng-submit="ctrl.submit()">
        <fieldset>
            <legend>{{ctrl.tagline}}</legend>
            <div class="form-group">
                <label for="question">Question</label>
                <textarea rows="4" ng-model="ctrl.formData.question" name="question" class="form-control" aria-describedby="questionHelp" placeholder="What is a JavaScript?" required></textarea>
                <small name="questionHelp" class="form-text text-muted">Must enter a question.</small>
            </div>
            <div class="form-group">
                <label for="answer">Answer</label>
                <textarea rows="4" ng-model="ctrl.formData.answer" class="form-control" name="answer" placeholder="That question makes no sense." required></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" ng-model="ctrl.formData.category" name="category" required>
                    <option value="frontEnd">Front End</option>
                    <option value="mongo">Mongo</option>
                    <option value="node">Node</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="subCategory">Sub-Category</label>
                    <select class="form-control" ng-model="ctrl.formData.subCategory" name="subCategory" required>
                        <option value="htmlCss">HTML/CSS</option>
                        <option value="javascript">JavaScript</option>
                        <option value="angular">Angular 1.x</option>
                    </select>
                </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </fieldset>
    </form>
</div>