/* BEGIN fa icon styling */
.fa.infoIcon {
    color: #3399F3;
}

.fa.editIcon {
    color: #D47500;
}

.fa.deleteIcon {
    color: #CD0200;
}

.fa.infoIcon:hover {
    color: #3399F3;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fa.editIcon:hover {
    color: rgba(212, 117, 0, 0.76);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fa.deleteIcon:hover {
    color: rgba(205, 0, 0, 0.726);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.fa.fa-rebel {
    color: rgb(197, 4, 4);
}

a:hover .fa.fa-rebel {
    color:red;
}
/* END fa icon styling */


/* begin padding / margin classes */
.gandalf-margin {
    margin-top: 20px;
}

.gandalf-center {
    padding-top: 40px;
}
/* END padding / margin classes */


/* BEGIN link color and styling */
a.noUnderLine {
    text-decoration: none;
}

.gandalf-link-style:hover {
    cursor: pointer;
    color: #3399F3 !important;
}

.gandalf-link-style:hover {
    cursor: pointer;
    color: #3399F3;
}

.gimli.gandalf-page-link {
    color: #3399F3 !important;
}

.gimli.gandalf-page-link:hover {
    cursor: pointer;
    color: #0c73cd !important;
}

.navbar-brand.navbar-brand-focus:hover {
    color: black;
}
/* END link color and styling */
